.gallery__button {
        
    color: $text-color;
    background-color: $infill-color;
    
    &--round {
        width: 45px;
        height: 45px;
        border-radius: 50px;
    }

    &--box {
        width: 66px;
        height: 21px;
        font-family: $text-font

    }
}