@use "./variables" as * ;



.nav {
     
    display: flex;
    margin: 1.25rem 1.875rem;
    justify-content: space-between;

    .nav__title {

        font-family: $title-font;
        color: $text-color;
        font-size: 1.5rem;
        font-weight: 700;
        
        .nav_color{
            color: $secondary-color;
         }
        
    }

    .nav_menu {

        width: 1.563rem;
        height: 0.563rem;

    }

}



