@use "./variables" as * ;



.nav {
     
    display: flex;
    margin: 1.25rem 1.875rem;
    justify-content: space-between;

    .nav__title {

        font-family: $title-font;
        color: $text-color;
        font-size: 1.5rem;
        font-weight: 700;
        
        .nav_color{
            color: $secondary-color;
         }
        
    }

    .nav_menu {

        width: 1.563rem;
        height: 0.563rem;

    }

}

.heading {
    display: flex;
    margin: 1.25rem 1.875rem;
    flex-direction: column;
    
    .heading__divider {
        height: 4px;
        width: 96px;
        margin: 1.875rem 0 ;
        background-color: $secondary-color;
    }

    }


main {
     display: flex;
     flex-direction: column;
    align-items: center;

    .subheadings {
        margin-right:auto;
    }
  }



  .gallery {
    margin: 1.25rem;
    .gallery__spacer {
        display: flex;
        justify-content: flex-end;

        .gallery__title {
            margin-right: auto;
        }
     }
}


   .about {
    display: flex;
    margin: 1.25rem 1.875rem;
    flex-direction: column;

    .about__content {
        
        
        margin: 4.063rem 0 0 0;
        font-weight: 300;
        font-size: 1rem;
        line-height: 160%;

        &--additional {
            margin: 2rem 0 0 0;
        }
    }
}
   

.details {
    display: flex;
    margin: 1.25rem 1.875rem;
    flex-direction: column;


    .details__collapsible {
        height: 4.313rem;
        width: 20.938rem;
        
        color: $text-color;
    }
}
 

.contact {
    display: flex;
    margin: 1.25rem 1.875rem;
    flex-direction: column;


}