@import url("https://fonts.googleapis.com/css2?family=Cormorant:wght@300;400&family=Inter&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  background-color: #2C2A2A;
}

.nav {
  display: flex;
  margin: 1.25rem 1.875rem;
  justify-content: space-between;
}
.nav .nav__title {
  font-family: "Cormorant";
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 700;
}
.nav .nav__title .nav_color {
  color: #d9bea5;
}
.nav .nav__bar {
  width: 25px;
  height: 1px;
  background-color: #ffffff;
}
.nav .nav__bar--shorter {
  width: 18px;
  margin-top: 2px;
}
.nav .nav__button {
  display: none;
}

.heading {
  display: flex;
  margin: 1.25rem 1.875rem;
  flex-direction: column;
}
.heading .heading__divider {
  height: 4px;
  width: 96px;
  margin: 1.875rem 0;
  background-color: #d9bea5;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .subheadings {
  margin-right: auto;
}

.gallery {
  margin: 1.25rem;
  width: 331.89px;
}
.gallery .gallery__spacer {
  display: flex;
  justify-content: flex-end;
}
.gallery .gallery__spacer .gallery__title {
  margin-right: auto;
}
.gallery .gallery__divider {
  height: 1px;
  width: 66px;
  margin-bottom: 14px;
  background-color: #d9bea5;
}

.about {
  display: flex;
  margin: 1.25rem 1.875rem;
  flex-direction: column;
}
.about .about__content {
  margin: 4.063rem 0 0 0;
  font-weight: 300;
  font-size: 1rem;
  line-height: 160%;
}
.about .about__content--additional {
  margin: 2rem 0 0 0;
}

.details {
  display: flex;
  margin: 1.25rem 1.875rem;
  flex-direction: column;
}
.details .details__collapsible {
  height: 4.313rem;
  width: 20.938rem;
  border: none;
  border-bottom: 1px solid #5C5C5C;
  text-align: left;
  color: #ffffff;
}

.contact {
  display: flex;
  margin: 1.25rem 1.875rem;
  flex-direction: column;
  align-items: center;
}

.footer {
  height: 114px;
  background-color: #3B3636;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  body {
    padding: 5%;
  }

  .nav {
    align-items: center;
  }
  .nav .nav__navigation {
    display: flex;
    justify-content: space-between;
    width: 38%;
  }
  .nav .nav__navigation .nav__menu {
    display: none;
  }
  .nav .nav__navigation .nav__button {
    display: inline-block;
  }

  .nav__menu {
    display: none;
  }

  .nav__button {
    display: inline-block;
  }

  .heading__content {
    width: 50%;
  }

  .container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    gap: 5px;
    margin: 10px;
  }

  .about {
    flex-direction: row-reverse;
    justify-content: space-around;
  }
  .about .about__content {
    width: 50%;
    text-align: left;
  }

  .temp {
    display: flex;
  }
}
@media only screen and (min-width: 1025px) {
  .heading__content {
    width: 40%;
  }

  .container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    gap: 5px;
    margin: 10px;
  }
}
.gallery__title {
  font-family: "Cormorant";
  font-weight: 400;
  font-size: 1.813rem;
  line-height: 160%;
  color: #ffffff;
}

.heading__title {
  font-size: 5rem;
  color: #ffffff;
  font-weight: 300;
  line-height: 120%;
}

.heading__content {
  font-family: "Inter";
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
  color: #ffffff;
}

.subheadings {
  color: #ffffff;
  margin: 1.875rem 1.875rem;
  font-size: 2rem;
  font-weight: 100;
}

.gallery__title {
  font-family: "Cormorant";
  font-weight: 400;
  font-size: 1.813rem;
  line-height: 160%;
  color: #ffffff;
}

.about__content {
  font-family: "Inter";
  color: #ffffff;
  font-weight: 500;
}

.contact__title {
  font-size: 5rem;
  color: #ffffff;
  font-weight: 400;
  line-height: 120%;
  text-align: center;
}

.details__collapsible {
  font-family: "Cormorant";
  font-size: 1rem;
}

@media only screen and (min-width: 768px) {
  .nav .nav__title {
    font-size: 4rem;
  }

  .heading__title {
    font-size: 8rem;
  }
}
.gallery__button {
  color: #ffffff;
  background-color: #3c3636;
  border: none;
  margin-left: 5px;
}
.gallery__button--round {
  width: 45px;
  height: 45px;
  border-radius: 50px;
}
.gallery__button--box {
  width: 66px;
  height: 21px;
  font-family: "Inter";
}

.footer__button {
  color: #ffffff;
  background-color: #453F3F;
  width: 45px;
  height: 45px;
  border-radius: 50px;
  margin: 10.5px;
  border: none;
}

.contact__button {
  height: 79px;
  width: 272px;
  color: #ffffff;
  font-family: "Inter";
  font-size: 1.125rem;
  border: 1px solid #d9bea5;
  margin-top: 62px;
  margin-bottom: 88px;
}

.nav__menu {
  width: 1.563rem;
  height: 0.563rem;
  border: none;
}

.nav__button {
  border: none;
  color: #ffffff;
  font-family: "Inter";
  font-size: 1.25rem;
}/*# sourceMappingURL=style.css.map */